poetry
scikit-learn
torchlibrosa
torchviz
torchtext
transformers
panns-inference
soundfile
tqdm
scipy
tabulate
matplotlib
pillow
ipython
sentence-transformers
pandas
librosa
yapf
toml
ipykernel
jupyter
pynvml
gitpython
wandb